graphviz
imbalanced-learn
ipympl
jupyterlab
matplotlib
numpy
pandas
requests
scikit-learn
scipy
seaborn
sqlalchemy
statsmodels
wheel
git+https://github.com/stefmolin/login-attempt-simulator.git@2nd_edition
git+https://github.com/stefmolin/ml-utils.git@2nd_edition
git+https://github.com/stefmolin/stock-analysis.git@2nd_edition
./visual-aids